### Prueba Técnica
### Diego Tapia

#### 1. Carga de Datos.

In [29]:
import json
import pandas as pd
import numpy as np

In [5]:
db_path = "evaluacion.json"
with open(db_path, "r", encoding="utf-8") as f:
    data = json.load(f)

In [6]:
type(data)

dict

In [7]:
data.keys()

dict_keys(['cliente', 'demografico', 'histRecuperacion', 'gestion'])

Tenemos cuatro bases de datos

In [9]:
df_cliente = pd.DataFrame(data['cliente'])
df_demografico = pd.DataFrame(data['demografico'])
df_hist = pd.DataFrame(data['histRecuperacion'])
df_gestion = pd.DataFrame(data['gestion'])

print("dataframes creados")

dataframes creados

#### 2. Exploración de datos

Cliente

In [10]:
df_cliente.head()

     id_cliente valorCapitalCompra valorCompra diasMoraCompra
0        DNI_1              941.53       47.08           6450
1        DNI_2              884.97       96.46           1084
2        DNI_3              581.97        29.1           6334
3        DNI_4              257.76        23.2            387
4        DNI_6              1018.8       71.32           7552

In [16]:
df_cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17813 entries, 0 to 17812
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_cliente          17813 non-null  object
 1   valorCapitalCompra  17813 non-null  object
 2   valorCompra         17813 non-null  object
 3   diasMoraCompra      17813 non-null  object
dtypes: object(4)
memory usage: 556.8+ KB

Demográfico

In [11]:
df_demografico.head()

,id_cliente,RelacionDependencia,FechaNacimiento,Nacionalidad,FechaFallecimiento,Genero,EstadoCivil,NivelEstudio,regionCedenteInicial
0,DNI_1,INDEPENDIENTE,1936-02-02,ECUATORIANA,2012-05-31,MASCULINO,CASADO,BASICA|INICIAL|PRIMARIA|ELEMENTAL,REGION NORTE
1,DNI_2,INDEPENDIENTE,1945-05-02,ECUATORIANA,NaN,FEMENINO,VIUDO,BASICA|INICIAL|PRIMARIA|ELEMENTAL,REGION SUR
2,DNI_3,INDEPENDIENTE,1934-06-22,ECUATORIANA,NaN,FEMENINO,VIUDO,BASICA|INICIAL|PRIMARIA|ELEMENTAL,REGION SUR
3,DNI_4,INDEPENDIENTE,1936-11-03,ECUATORIANA,2021-12-18,FEMENINO,VIUDO,BACHILLERATO|SECUNDARIA,REGION SUR
4,DNI_6,INDEPENDIENTE,1950-12-18,ECUATORIANA,NaN,FEMENINO,DIVORCIADO,BACHILLERATO|SECUNDARIA,REGION SUR

In [17]:
df_demografico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17813 entries, 0 to 17812
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_cliente            17813 non-null  object
 1   RelacionDependencia   17813 non-null  object
 2   FechaNacimiento       17813 non-null  object
 3   Nacionalidad          17813 non-null  object
 4   FechaFallecimiento    774 non-null    object
 5   Genero                17813 non-null  object
 6   EstadoCivil           17813 non-null  object
 7   NivelEstudio          17813 non-null  object
 8   regionCedenteInicial  17813 non-null  object
dtypes: object(9)
memory usage: 1.2+ MB

Histórico recuperación

In [12]:
df_hist.head()

   id_cliente fechaAnalisis recuperacion
0  00DNI_6372           t_2      1251.86
1  00DNI_9416             t       334.42
2  00DNI_9416           t_1       334.42
3  00DNI_9416           t_2       334.42
4  00DNI_9416           t_3          292

In [18]:
df_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3171 entries, 0 to 3170
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_cliente     3171 non-null   object
 1   fechaAnalisis  3171 non-null   object
 2   recuperacion   3171 non-null   object
dtypes: object(3)
memory usage: 74.4+ KB

Gestión

In [13]:
df_gestion.head()

,id_DNI,canal,tipoContactoUlt6Meses,respuestaUlt6Meses,intentoGestion
0,000DNI_1,TERRENO,INDIRECTO,MENSAJE CON TERCEROS,79
1,0DNI_2,COMISIONISTA,VIRTUAL,WHATSAPP ENVIADO,227
2,00000DNI_3,TERRENO,VIRTUAL,CORREO ELECTRONICO RECIBIDO,297
3,00000DNI_4,CALL CENTER,INDIRECTO,MENSAJE CON TERCEROS,107
4,00DNI_6,TERRENO,VIRTUAL,CORREO ELECTRONICO RECIBIDO,209

In [19]:
df_gestion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17813 entries, 0 to 17812
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_DNI                 17813 non-null  object
 1   canal                  17813 non-null  object
 2   tipoContactoUlt6Meses  17813 non-null  object
 3   respuestaUlt6Meses     17813 non-null  object
 4   intentoGestion         17813 non-null  object
dtypes: object(5)
memory usage: 695.9+ KB

## Ejercicio 1:
Supongamos que se encuentra trabajando con el área de recuperaciones de
cartera, esta área compra en el sistema financiero carteras que llevan mucho tiempo de
castigo. Acumulando un stock importante en los últimos años y la recuperación está cayendo
que haría desde el punto de vista analítico para: ¿mejorar la recuperación?, ¿para que sea más
efectiva? Justifique su respuesta. (1 punto) Mencione qué estrategia, indicadores, modelos o
segmentaciones aplicaría y cómo mediría el impacto.

Antes de definir una estrategia analítica, se realizaría un Análisis Exploratorio de Datos (EDA) con el objetivo de comprender la información disponible, su calidad y las variables relevantes para la segmentación de la cartera castigada.

A partir del EDA, se analizarían variables demográficas (edad, género, estado civil, relación de dependencia), económicas (valor del capital adeudado, días de mora) y comportamentales (histórico de recuperación, canal y tipo de gestión). Para las variables numéricas se obtendrían estadísticas descriptivas como media y distribución, mientras que las variables categóricas serían transformadas mediante técnicas como one-hot encoding para facilitar el análisis conjunto.

Con esta información, se evaluaría la relación entre variables mediante análisis estadístico y de correlación, permitiendo identificar los factores más relevantes para la segmentación de clientes. A partir de ello, se propone una segmentación inicial basada principalmente en edad y relación de dependencia, pudiendo refinarse según los resultados del análisis:

Jóvenes (18–24 años), dependientes

Jóvenes (18–24 años), independientes

Adultos jóvenes (25–45 años), dependientes

Adultos jóvenes (25–45 años), independientes

Adultos mayores (>45 años), dependientes

Adultos mayores (>45 años), independientes

Dependiendo de los resultados del análisis estadístico, algunos segmentos podrían fusionarse u omitirse si no presentan diferencias significativas en su comportamiento de recuperación.

Estrategia por segmento

Jóvenes: priorizar canales digitales como WhatsApp, con mensajes claros sobre opciones de pago, beneficios por pronto pago y posibilidad de contacto con un agente para planes personalizados.

Adultos jóvenes: comunicación vía correo electrónico con información comparativa de intereses, descuentos y opciones de refinanciamiento.

Adultos mayores: estrategias más conservadoras, como reducción de intereses, mayor número de cuotas, períodos de gracia y seguimiento más cercano.

Medición y seguimiento

El desempeño de cada estrategia se mediría por segmento utilizando indicadores como tasa de recuperación y monto recuperado. Con el histórico de recuperación disponible (por ejemplo, cinco períodos), se podría realizar una proyección a corto plazo (tres meses) para evaluar si la estrategia es efectiva o requiere ajustes.

Modelado

Inicialmente, se podría utilizar un modelo de regresión simple para proyectar montos de recuperación. A futuro, con mayor información histórica, se podría implementar un modelo supervisado (por ejemplo, Random Forest) para estimar la probabilidad de recuperación por cliente y priorizar esfuerzos de cobranza.

### Ejercicio 2

Ejercicio 2: Se le ha proporcionado 3 bases de datos. (Cliente) donde se encuentra la
información de una compra de cartera, (demográfico) donde están datos demográficos del
cliente y, (histórico de pagos) donde está el historio de pagos de los últimos 6 meses de los
clientes t_5 indica el mes más alejado y t el mes más cercano. Realice lo siguiente:
Consolide la información de la base clientes y demográficos en una sola. ¿Cuántos clientes son
independientes? (0.5 puntos).

    * ¿En qué región se encuentra la concentración de capital comprado? (0.5 puntos)
    * Realice un gráfico con las edades de los clientes. ¿Qué puede concluir? (1 punto)
    * Utilizando la base históricoRecuperacion, consolide la base anterior con el histórico de pagos ¿qué porcentaje de clientes ha recuperado en los últimos 6 meses más de 200 dólares? (2 puntos)

*Hint*: la base histórica de pagos pivotearla antes de unirla, adicionalmente tomar en cuenta que la longitud del cliente id es de 10 dígitos.

#### Limpieza Bases Cliente y Demografico

Cliente.
Convertimos las variables a tipo numéricas, a excepción de id_cliente

In [25]:
df_cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17813 entries, 0 to 17812
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_cliente          17813 non-null  object
 1   valorCapitalCompra  17813 non-null  object
 2   valorCompra         17813 non-null  object
 3   diasMoraCompra      17813 non-null  object
dtypes: object(4)
memory usage: 556.8+ KB

In [26]:
num_cols_cliente = ["valorCapitalCompra", "valorCompra", "diasMoraCompra"]

for c in num_cols_cliente:
    if c in df_cliente.columns:
        df_cliente[c] = pd.to_numeric(df_cliente[c], errors="coerce")

print("variables convertidas a numéricas")

variables convertidas a numéricas

In [27]:
df_cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17813 entries, 0 to 17812
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_cliente          17813 non-null  object
 1   valorCapitalCompra  17813 non-null  float64
 2   valorCompra         17813 non-null  float64
 3   diasMoraCompra      17813 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 556.8+ KB

No se encuentran valores nulos en la base Clientes.

Demográfico.

In [28]:
df_demografico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17813 entries, 0 to 17812
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_cliente            17813 non-null  object
 1   RelacionDependencia   17813 non-null  object
 2   FechaNacimiento       17813 non-null  object
 3   Nacionalidad          17813 non-null  object
 4   FechaFallecimiento    774 non-null    object
 5   Genero                17813 non-null  object
 6   EstadoCivil           17813 non-null  object
 7   NivelEstudio          17813 non-null  object
 8   regionCedenteInicial  17813 non-null  object
dtypes: object(9)
memory usage: 1.2+ MB

Convertimos las variables de tipo fecha a Date

In [30]:
for c in ["FechaNacimiento", "FechaFallecimiento"]:
    if c in df_demografico.columns:
        # reemplazamos "NaN" o "nan" por np.nan en caso de que vengan como texto
        df_demografico[c] = df_demografico[c].replace(["NaN", "nan",""], np.nan)
        df_demografico[c] = pd.to_datetime(df_demografico[c], errors="coerce")

In [31]:
df_demografico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17813 entries, 0 to 17812
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_cliente            17813 non-null  object
 1   RelacionDependencia   17813 non-null  object
 2   FechaNacimiento       17813 non-null  datetime64[ns]
 3   Nacionalidad          17813 non-null  object
 4   FechaFallecimiento    774 non-null    datetime64[ns]
 5   Genero                17813 non-null  object
 6   EstadoCivil           17813 non-null  object
 7   NivelEstudio          17813 non-null  object
 8   regionCedenteInicial  17813 non-null  object
dtypes: datetime64[ns](2), object(7)
memory usage: 1.2+ MB

Creamos el campo edad, nos sirve para una segmentación. Para los clientes fallecidos se calculó la edad al momento del fallecimiento.

In [40]:
if "FechaNacimiento" in df_demografico.columns:
    today = pd.Timestamp.today().normalize()

    df_demografico["Edad"] = np.where(
        df_demografico["FechaFallecimiento"].notna(),
        (df_demografico["FechaFallecimiento"] - df_demografico["FechaNacimiento"]).dt.days // 365,
        (today - df_demografico["FechaNacimiento"]).dt.days // 365
    )

    df_demografico["Edad"] = df_demografico["Edad"].astype("Int64")


print("Agregado el campo edad.")

df_demografico.head()

Agregado el campo edad.

,id_cliente,RelacionDependencia,FechaNacimiento,Nacionalidad,FechaFallecimiento,Genero,EstadoCivil,NivelEstudio,regionCedenteInicial,Edad
0,DNI_1,INDEPENDIENTE,1936-02-02,ECUATORIANA,2012-05-31,MASCULINO,CASADO,BASICA|INICIAL|PRIMARIA|ELEMENTAL,REGION NORTE,76
1,DNI_2,INDEPENDIENTE,1945-05-02,ECUATORIANA,NaT,FEMENINO,VIUDO,BASICA|INICIAL|PRIMARIA|ELEMENTAL,REGION SUR,80
2,DNI_3,INDEPENDIENTE,1934-06-22,ECUATORIANA,NaT,FEMENINO,VIUDO,BASICA|INICIAL|PRIMARIA|ELEMENTAL,REGION SUR,91
3,DNI_4,INDEPENDIENTE,1936-11-03,ECUATORIANA,2021-12-18,FEMENINO,VIUDO,BACHILLERATO|SECUNDARIA,REGION SUR,85
4,DNI_6,INDEPENDIENTE,1950-12-18,ECUATORIANA,NaT,FEMENINO,DIVORCIADO,BACHILLERATO|SECUNDARIA,REGION SUR,75

La variable FechaFallecimiento presenta un alto porcentaje de valores nulos, lo cual es esperado al representar clientes vivos. Se creó una variable binaria fallecido para facilitar su uso en análisis y modelado.

In [41]:
df_demografico["Fallecido"] = df_demografico["FechaFallecimiento"].notna().astype(int)
print("Agregado el campo Fallecido.")
df_demografico.head()

Agregado el campo Fallecido.

,id_cliente,RelacionDependencia,FechaNacimiento,Nacionalidad,FechaFallecimiento,Genero,EstadoCivil,NivelEstudio,regionCedenteInicial,Edad,Fallecido
0,DNI_1,INDEPENDIENTE,1936-02-02,ECUATORIANA,2012-05-31,MASCULINO,CASADO,BASICA|INICIAL|PRIMARIA|ELEMENTAL,REGION NORTE,76,1
1,DNI_2,INDEPENDIENTE,1945-05-02,ECUATORIANA,NaT,FEMENINO,VIUDO,BASICA|INICIAL|PRIMARIA|ELEMENTAL,REGION SUR,80,0
2,DNI_3,INDEPENDIENTE,1934-06-22,ECUATORIANA,NaT,FEMENINO,VIUDO,BASICA|INICIAL|PRIMARIA|ELEMENTAL,REGION SUR,91,0
3,DNI_4,INDEPENDIENTE,1936-11-03,ECUATORIANA,2021-12-18,FEMENINO,VIUDO,BACHILLERATO|SECUNDARIA,REGION SUR,85,1
4,DNI_6,INDEPENDIENTE,1950-12-18,ECUATORIANA,NaT,FEMENINO,DIVORCIADO,BACHILLERATO|SECUNDARIA,REGION SUR,75,0